<div class="bg-gray-100 flex justify-center items-center min-h-screen">
    <div class="flex flex-row lg:flex-row w-full">
        <!-- Sidebar -->
        <app-admin-slidebar class="lg:w-1/5"></app-admin-slidebar>

        <div class="container mx-auto p-4 mt-0 lg:w-4/5">
          
            <!-- Search Bar -->
            <div class="flex justify-end">
                <div class="inline relative">
                    <button type="button" class="inline-flex items-center relative px-2 border rounded-full hover:shadow-lg">
                        <div class="pl-1">
                            <svg
                                viewBox="0 0 32 32"
                                xmlns="http://www.w3.org/2000/svg"
                                aria-hidden="true"
                                role="presentation"
                                focusable="false"
                                style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;"
                            >
                                <g fill="none" fill-rule="nonzero">
                                    <path d="m2 16h28"></path>
                                    <path d="m2 24h28"></path>
                                    <path d="m2 8h28"></path>
                                </g>
                            </svg>
                        </div>
    
                        <div class="block flex-grow-0 flex-shrink-0 h-10 w-12 pl-5">
                            <svg
                                viewBox="0 0 32 32"
                                xmlns="http://www.w3.org/2000/svg"
                                aria-hidden="true"
                                role="presentation"
                                focusable="false"
                                style="display: block; height: 100%; width: 100%; fill: currentcolor;"
                            >
                                <path d="m16 .7c-8.437 0-15.3 6.863-15.3 15.3s6.863 15.3 15.3 15.3 15.3-6.863 15.3-15.3-6.863-15.3-15.3-15.3zm0 28c-4.021 0-7.605-1.884-9.933-4.81a12.425 12.425 0 0 1 6.451-4.4 6.507 6.507 0 0 1 -3.018-5.49c0-3.584 2.916-6.5 6.5-6.5s6.5 2.916 6.5 6.5a6.513 6.513 0 0 1 -3.019 5.491 12.42 12.42 0 0 1 6.452 4.4c-2.328 2.925-5.912 4.809-9.933 4.809z"></path>
                            </svg>
                        </div>
                    </button>
                </div>
            </div>
        
               
          
        <!-- search and filters -->
        <div class="p-4 flex flex-col md:flex-row md:items-center md:justify-between space-y-4 md:space-y-0 gap-2">
            <!-- Title -->
            <h3 class=" text-black flex justify-start font-bold">List Of Doctors</h3>
        
            <!-- Filters Section -->
            <div class="flex flex-col md:flex-row md:items-center space-y-4 md:space-y-0 md:space-x-4">
              
        
                <!-- Search Bar -->
                <div class="p-5 overflow-hidden w-[60px] h-[60px] hover:w-[270px] bg-[#4070f4] shadow-[2px_2px_20px_rgba(0,0,0,0.08)] rounded-full flex group items-center hover:duration-300 duration-300">
                    <div class="flex items-center justify-center fill-white">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Isolation_Mode" data-name="Isolation Mode" viewBox="0 0 24 24" width="22" height="22">
                            <path d="M18.9,16.776A10.539,10.539,0,1,0,16.776,18.9l5.1,5.1L24,21.88ZM10.5,18A7.5,7.5,0,1,1,18,10.5,7.507,7.507,0,0,1,10.5,18Z"></path>
                        </svg>
                    </div>
                    <input type="text" class="outline-none text-[20px] bg-transparent w-full text-white font-normal px-4" placeholder="Search">
                </div>
            </div>
        </div>
        
        <hr class="text-black">
        

           <app-humanlisting-table [tableHeaders]="DoctorTableHeaders" [tableData]="DoctorTableData"></app-humanlisting-table>
       
          
          
            
        </div>
      
    </div>
    
</div>

