<div class="font-[sans-serif]">
    <div class="text-center bg-gradient-to-r from-blue-800 to-blue-400 min-h-[160px] sm:p-6 p-4">
      <h4 class="sm:text-3xl text-2xl font-bold text-white">Doccure Service !</h4>
    </div>
    
    <div *ngIf="step==1" class="mx-4 mb-4 -mt-16">
     
        <form [formGroup]="personalDetailsForm" (ngSubmit)="nextStep()" class="max-w-4xl mx-auto bg-white shadow-[0_2px_13px_-6px_rgba(0,0,0,0.4)] sm:p-8 p-4 rounded-md">
            
          <h4 class="sm:text-3xl text-center text-2xl font-bold text-black">Register  Personal  Details</h4>
            <div class="my-8 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-neutral-300 after:mt-0.5 after:flex-1 after:border-t after:border-neutral-300">
              <p class="mx-4 text-center"></p>
            </div>
          
            <div class="grid md:grid-cols-2 gap-8">
              <!-- First Name -->
              <div>
                <label class="text-gray-800 text-sm mb-2 block">First Name</label>
                <input formControlName="firstName" name="firstName" type="text" class="bg-gray-100 focus:bg-transparent w-full text-sm text-gray-800 px-4 py-3 rounded-md outline-blue-500 transition-all" placeholder="Enter name" />
                <div *ngIf="personalDetailsForm.get('firstName')?.invalid && personalDetailsForm.get('firstName')?.touched" class="text-red-600">First name is required</div>
                <div *ngIf="personalDetailsForm.get('firstName')?.errors?.['maxlength']" class="text-red-600">Maximum 10 characters allowed for first name</div>
              </div>
          
              <!-- Last Name -->
              <div>
                <label class="text-gray-800 text-sm mb-2 block">Last Name</label>
                <input formControlName="lastName" name="lastName" type="text" class="bg-gray-100 focus:bg-transparent w-full text-sm text-gray-800 px-4 py-3 rounded-md outline-blue-500 transition-all" placeholder="Enter last name" />
                <div *ngIf="personalDetailsForm.get('lastName')?.invalid && personalDetailsForm.get('lastName')?.touched" class="text-red-600">Last name is required</div>
                <div *ngIf="personalDetailsForm.get('lastName')?.errors?.['maxlength']" class="text-red-600">Maximum 10 characters allowed for last name</div>
              </div>
          
              <!-- Email -->
              <div>
                <label class="text-gray-800 text-sm mb-2 block">Email Id</label>
                <input formControlName="email" name="email" type="email" class="bg-gray-100 focus:bg-transparent w-full text-sm text-gray-800 px-4 py-3 rounded-md outline-blue-500 transition-all" placeholder="Enter email" />
                <div *ngIf="personalDetailsForm.get('email')?.invalid && personalDetailsForm.get('email')?.touched" class="text-red-600">Valid email is required</div>
              </div>
          
              <!-- Gender -->
              <div>
                <label class="text-gray-800 text-sm mb-2 block">Gender</label>
                <select formControlName="gender" name="gender" class="bg-gray-100 focus:bg-transparent w-full text-sm text-gray-800 px-4 py-3 rounded-md outline-blue-500 transition-all">
                  <option value="" disabled selected>Select Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
                </select>
                <div *ngIf="personalDetailsForm.get('gender')?.invalid && personalDetailsForm.get('gender')?.touched" class="text-red-600">Gender is required</div>
              </div>
          
              <!-- Date of Birth -->
              <div>
                <label class="text-gray-800 text-sm mb-2 block">Date Of Birth</label>
                <input formControlName="dateofBirth" name="dob" type="date" class="bg-gray-100 focus:bg-transparent w-full text-sm text-gray-800 px-4 py-3 rounded-md outline-blue-500 transition-all"/>
                <div *ngIf="personalDetailsForm.get('dateofBirth')?.invalid && personalDetailsForm.get('dateofBirth')?.touched" class="text-red-600">Please select your date of birth</div>
              </div>
              
          
              <!-- Contact Number -->
              <div>
                <label class="text-gray-800 text-sm mb-2 block">Mobile No.</label>
                <input formControlName="contactNumber" name="contactNumber" type="text" class="bg-gray-100 focus:bg-transparent w-full text-sm text-gray-800 px-4 py-3 rounded-md outline-blue-500 transition-all" placeholder="Enter mobile number" />
                <div *ngIf="personalDetailsForm.get('contactNumber')?.invalid && personalDetailsForm.get('contactNumber')?.touched" class="text-red-600">Contact number is required</div>
                <div *ngIf="personalDetailsForm.get('contactNumber')?.errors?.['minlength'] || personalDetailsForm.get('contactNumber')?.errors?.['maxlength']" class="text-red-600">Please enter a valid contact number with 10 digits</div>
              </div>
          
              <!-- Password -->
              <div>
                <label class="text-gray-800 text-sm mb-2 block">Password</label>
                <input formControlName="password" name="password" type="password" class="bg-gray-100 focus:bg-transparent w-full text-sm text-gray-800 px-4 py-3 rounded-md outline-blue-500 transition-all" placeholder="Enter password" />
                <div *ngIf="personalDetailsForm.get('password')?.errors?.['required'] && personalDetailsForm.get('password')?.touched" class="text-red-600">Password is required</div>
                <div *ngIf="personalDetailsForm.get('password')?.errors?.['minlength'] && personalDetailsForm.get('password')?.touched" class="text-red-600">Password must be at least 6 characters long</div>
              </div>
          
              <!-- Confirm Password -->
              <div>
                <label class="text-gray-800 text-sm mb-2 block">Confirm Password</label>
                <input formControlName="confirmPassword" name="cpassword" type="password" class="bg-gray-100 focus:bg-transparent w-full text-sm text-gray-800 px-4 py-3 rounded-md outline-blue-500 transition-all" placeholder="Enter confirm password" />
                <div *ngIf="personalDetailsForm.get('confirmPassword')?.errors?.['required'] && personalDetailsForm.get('confirmPassword')?.touched" class="text-red-600">Confirm password is required</div>
                <div *ngIf="personalDetailsForm.get('confirmPassword')?.errors?.['passwordMismatch']" class="text-red-600">Passwords do not match</div>
              </div>
            </div>
          
            <div class="mt-8 flex justify-end">
              <button type="submit" class="py-3 px-6 text-sm tracking-wider font-semibold rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none">
                Next
              </button>
            </div>
          </form>
          
    </div>

    <div *ngIf="step==2" class="mx-4 mb-4 -mt-16">
     
      <form [formGroup]="generalDetailsForm" (ngSubmit)="nextStep()" class="max-w-4xl mx-auto bg-white shadow-[0_2px_13px_-6px_rgba(0,0,0,0.4)] sm:p-8 p-4 rounded-md">
          
        <h4 class="sm:text-3xl text-center text-2xl font-bold text-black">Register General Details</h4>
          <div class="my-8 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-neutral-300 after:mt-0.5 after:flex-1 after:border-t after:border-neutral-300">
            <p class="mx-4 text-center"></p>
          </div>
        
          <div class="grid md:grid-cols-2 gap-8">
            <!-- City -->
            <div>
              <label class="text-gray-800 text-sm mb-2 block">City</label>
              <input formControlName="city" name="city" type="text" class="bg-gray-100 focus:bg-transparent w-full text-sm text-gray-800 px-4 py-3 rounded-md outline-blue-500 transition-all" placeholder="Enter city" />
              <div *ngIf="generalDetailsForm.get('city')?.invalid && generalDetailsForm.get('city')?.touched" class="text-red-600">city  is required</div>
              
            </div>
        
            <!-- Country -->
            <div>
              <label class="text-gray-800 text-sm mb-2 block">Country</label>
              <input formControlName="country" name="country" type="text" class="bg-gray-100 focus:bg-transparent w-full text-sm text-gray-800 px-4 py-3 rounded-md outline-blue-500 transition-all" placeholder="Enter country " />
              <div *ngIf="generalDetailsForm.get('country')?.invalid && generalDetailsForm.get('country')?.touched" class="text-red-600">country is required</div>
            </div>
        
            <!-- State -->
            <div>
              <label class="text-gray-800 text-sm mb-2 block">State</label>
              <input formControlName="state" name="state" type="state" class="bg-gray-100 focus:bg-transparent w-full text-sm text-gray-800 px-4 py-3 rounded-md outline-blue-500 transition-all" placeholder="Enter state" />
              <div *ngIf="generalDetailsForm.get('state')?.invalid && generalDetailsForm.get('state')?.touched" class="text-red-600"> state is required</div>
            </div>
        
          
        
        
            <!-- Zipcode Number -->
            <div>
              <label class="text-gray-800 text-sm mb-2 block">Zipcode</label>
              <input formControlName="zipcode" name="zipcode" type="text" class="bg-gray-100 focus:bg-transparent w-full text-sm text-gray-800 px-4 py-3 rounded-md outline-blue-500 transition-all" placeholder="Enter zipcode " />
              <div *ngIf="generalDetailsForm.get('zipcode')?.invalid && generalDetailsForm.get('zipcode')?.touched" class="text-red-600">zipcode is required</div>
              
            </div>

              <!-- Aadhar Number -->
              <div>
                <label class="text-gray-800 text-sm mb-2 block">Aadhar Number</label>
                <input formControlName="adharNumber" name="adharNumber" type="text" class="bg-gray-100 focus:bg-transparent w-full text-sm text-gray-800 px-4 py-3 rounded-md outline-blue-500 transition-all" placeholder="Enter adharNumber " />
                <div *ngIf="generalDetailsForm.get('adharNumber')?.invalid && generalDetailsForm.get('adharNumber')?.touched" class="text-red-600">adharNumber is required</div>
                
              </div>
        
           
        
          
          </div>
        
          <div class="mt-8 flex justify-between">
            <button type="button" (click)="previousStep()" class="py-3 px-6 text-sm tracking-wider font-semibold rounded-md text-white bg-gray-500 hover:bg-gray-600 focus:outline-none">
              Previous
            </button>
            <button type="submit" class="py-3 px-6 text-sm tracking-wider font-semibold rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none">
              Next
            </button>
          </div>
        </form>
        
  </div>


  <div *ngIf="step==3" class="mx-4 mb-4 -mt-16">
     
    <form [formGroup]="professionalDetailsForm" (ngSubmit)="nextStep()" class="max-w-4xl mx-auto bg-white shadow-[0_2px_13px_-6px_rgba(0,0,0,0.4)] sm:p-8 p-4 rounded-md">
        
      <h4 class="sm:text-3xl text-center text-2xl font-bold text-black">Register Professional Details</h4>
        <div class="my-8 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-neutral-300 after:mt-0.5 after:flex-1 after:border-t after:border-neutral-300">
          <p class="mx-4 text-center"></p>
        </div>
      
        <div class="grid md:grid-cols-2 gap-8">
          <!-- medicalLicenceNumber -->
          <div>
            <label class="text-gray-800 text-sm mb-2 block">Medical Licence Number</label>
            <input formControlName="medicalLicenceNumber" name="medicalLicenceNumber" type="text" class="bg-gray-100 focus:bg-transparent w-full text-sm text-gray-800 px-4 py-3 rounded-md outline-blue-500 transition-all" placeholder="Enter Medical Licence Number" />
            <div *ngIf="professionalDetailsForm.get('medicalLicenceNumber')?.invalid && professionalDetailsForm.get('medicalLicenceNumber')?.touched" class="text-red-600">Medical Licence Number  is required</div>
            
          </div>


            <!-- Specialisation -->
            <div>
              <label class="text-gray-800 text-sm mb-2 block">Specialised Department</label>
              <input formControlName="specialisedDepartment" name="specialisedDepartment" type="text" class="bg-gray-100 focus:bg-transparent w-full text-sm text-gray-800 px-4 py-3 rounded-md outline-blue-500 transition-all" placeholder="Enter specialised Department" />
              <div *ngIf="professionalDetailsForm.get('specialisedDepartment')?.invalid && professionalDetailsForm.get('specialisedDepartment')?.touched" class="text-red-600">Specialised Department  is required</div>
              
            </div>


            
        
      
          <!-- Total Experience -->
          <div>
            <label class="text-gray-800 text-sm mb-2 block">Total Experience</label>
            <input formControlName="totalExperience" name="totalExperience" type="number" class="bg-gray-100 focus:bg-transparent w-full text-sm text-gray-800 px-4 py-3 rounded-md outline-blue-500 transition-all" placeholder="Enter totalExperience you Have " />
            <div *ngIf="professionalDetailsForm.get('totalExperience')?.invalid && professionalDetailsForm.get('totalExperience')?.touched" class="text-red-600">country is required</div>
          </div>

          <div>
            <label class="text-gray-800 text-sm mb-2 block">Bio</label>
            <input formControlName="bio" name="bio" type="text" class="bg-gray-100 focus:bg-transparent w-full text-sm text-gray-800 px-4 py-3 rounded-md outline-blue-500 transition-all" placeholder="Enter Your Bio " />
            <div *ngIf="professionalDetailsForm.get('bio')?.invalid && professionalDetailsForm.get('bio')?.touched" class="text-red-600">bio is required With minimum 20 characters</div>
          </div>
      
          <!-- patientsPerDay -->
          <div>
            <label class="text-gray-800 text-sm mb-2 block">patientsPerDay</label>
            <input formControlName="patientsPerDay" name="patientsPerDay" type="number" class="bg-gray-100 focus:bg-transparent w-full text-sm text-gray-800 px-4 py-3 rounded-md outline-blue-500 transition-all" placeholder="Enter No of Patient Per Day  " />
            <div *ngIf="professionalDetailsForm.get('patientsPerDay')?.invalid && professionalDetailsForm.get('patientsPerDay')?.touched" class="text-red-600"> patientsPerDay is required</div>
          </div>
      
        
      
      
          <!-- Consultation Fee -->
          <div>
            <label class="text-gray-800 text-sm mb-2 block">consultation Fee</label>
            <input formControlName="consultationFee" name="consultationFee" type="number" class="bg-gray-100 focus:bg-transparent w-full text-sm text-gray-800 px-4 py-3 rounded-md outline-blue-500 transition-all" placeholder="Enter consultationFee " />
            <div *ngIf="professionalDetailsForm.get('consultationFee')?.invalid && professionalDetailsForm.get('consultationFee')?.touched" class="text-red-600">consultationFee is required</div>
            
          </div>




        
         
      
        
        </div>
      
        <div class="mt-8 flex justify-between">
          <button type="button" (click)="previousStep()" class="py-3 px-6 text-sm tracking-wider font-semibold rounded-md text-white bg-gray-500 hover:bg-gray-600 focus:outline-none">
            Previous
          </button>
          <button type="submit" class="py-3 px-6 text-sm tracking-wider font-semibold rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none">
            Next
          </button>
        </div>
      </form>

      <div routerLink="/Doctor-login" class="mt-8 flex justify-end" *ngIf="backtologin">
        <button type="submit" class="py-3 px-6 text-sm tracking-wider font-semibold rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none">
          Back To Login
        </button>
      </div>
      
</div>



<div *ngIf="step === 4" class="mx-4 mb-4 -mt-16">
  <div class="max-w-4xl mx-auto bg-white shadow-md sm:shadow-lg p-6 sm:p-8 rounded-md min-h-[300px] sm:min-h-[500px]">
    <div class="flex flex-col sm:flex-row items-center justify-center space-y-4 sm:space-y-0 sm:space-x-4">
      <!-- Success Icon -->
      <span class="inline-flex items-center justify-center w-12 h-12 text-blue-500 bg-blue-100 rounded-full">
        <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path fill="currentColor" d="M5 13l4 4L19 7"></path>
        </svg>
      </span>

      <!-- Success Message -->
      <div class="text-gray-700 text-center sm:text-left">
        <h2 class="text-lg sm:text-xl font-semibold">Doctor Registered Successfully!</h2>
        <p class="mt-2 text-sm sm:text-base">
          Your registration is successful. After approval, you will receive an email with further instructions.
          You can then start your service. Good luck!
        </p>
      </div>
    </div>

    <!-- Button to go to login -->
    <div class="mt-28 text-center ">
      <button  routerLink="/Doctor-login"  class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md shadow-md transition duration-150 ease-in-out"
      >
        Go to Login
      </button>
    </div>
  </div>
</div>











  </div>