


<div class="flex justify-center items-center min-h-screen"> <!-- Make it vertically centered -->
  

    <div class="md:ml-9 h-auto  sm:mt-16 w-full px-4"> 
        
      <div class="bg-white p-6 w-full sm:w-[550px] border border-gray-400 mx-auto"> <!-- Adjust width for different screen sizes -->
   
        <button class="Btn">
           <svg class="svgIcon" viewBox="0 0 384 512" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"></path></svg>
           <span class="icon2"></span>
           <span class="tooltip">invoice</span>
        </button>
        <svg viewBox="0 0 24 24" class="text-green-600 w-12 h-12 sm:w-16 sm:h-16 mx-auto my-4 sm:my-6"> <!-- Adjust size for smaller screens -->
          <path fill="currentColor"
                d="M12,0A12,12,0,1,0,24,12,12.014,12.014,0,0,0,12,0Zm6.927,8.2-6.845,9.289a1.011,1.011,0,0,1-1.43.188L5.764,13.769a1,1,0,1,1,1.25-1.562l4.076,3.261,6.227-8.451A1,1,0,1,1,18.927,8.2Z">
          </path>
        </svg>
        <div class="text-center">
          <p class="text-gray-600 font-semibold text-base sm:text-sm">Appointment Booked Successfully!</p>
          <p> Appointment Booked With 
            <span class="text-sm sm:text-base font-bold"> Dr.{{DoctorfirstName}} {{DoctorlastName}}</span> 
          </p>
          <div class="py-6 sm:py-10 text-center">
            <a href="/find-Doctors" class="px-6 sm:px-12 mr-2 sm:mr-5 bg-customBlue hover:bg-blue-400 text-white font-semibold py-2 sm:py-3 rounded-xl block sm:inline-block">
              Go Back
            </a>
            <a class="px-6 sm:px-12 mt-2 sm:mt-0 bg-customBlue hover:bg-blue-400 text-white font-semibold py-2 sm:py-3 rounded-xl block sm:inline-block">
              View Appointment
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  








