



  
<!-- Main modal -->
<div id="default-modal-addSlot" tabindex="-1" aria-hidden="true" class="overflow-y-auto overflow-x-hidden fixed z-50 xl:mt-32 sm:ml-0 sm:mt-0 md:mt-[550px] md:ml-[300px] lg:mt-[550px] lg:ml-[300px] xl-mt-[550px] xl:ml-[550px] sm: items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Select Your Slots Times</h3>
        <button (click)="close()" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal-addSlot">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>

      <!-- Modal body -->
      <form #form="ngForm" (ngSubmit)="submit()">
        <div class="p-4 md:p-5 space-y-4">
          <!-- Start Time Input -->
          <div class="flex justify-between items-center">
            <label for="start-time" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Start Time</label>
            <div class="relative mt-1">
              <input [(ngModel)]="startTime"
                     type="time"
                     id="startTime"
                     name="startTime"
                     class="block w-full md:w-auto p-2 pl-10 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:text-white"
                     required >
            </div>
           
          </div>
          
          <!-- End Time Input -->
          <div class="flex justify-between items-center">
            <label for="end-time" class="block text-sm font-medium text-gray-700 dark:text-gray-400">End Time</label>
            <div class="relative mt-1">
              <input 
                [(ngModel)]="endTime" 
                type="time" 
                id="endTime" 
                name="endTime" 
                class="block w-full md:w-auto p-2 pl-10 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:text-white"
                required
                #endTimeField="ngModel"
              >
            </div>
            <div *ngIf="endTimeField.invalid && endTimeField.touched" class="text-red-500 text-xs mt-1">
              End time is required.
            </div>
          </div>
      
          <!-- Consultation Period Input -->
          <div class="flex justify-between items-center">
            <label for="consultation-period" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Consultation Period (minutes)</label>
            <div class="relative mt-1">
              <input 
                [(ngModel)]="timePeriod" 
                type="number" 
                id="consultation-period" 
                name="consultationPeriod" 
                class="block w-full md:w-auto p-2 pl-10 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:text-white"
                required
                #consultationPeriodField="ngModel"
              >
            </div>
            <div *ngIf="consultationPeriodField.invalid && consultationPeriodField.touched" class="text-red-500 text-xs mt-1">
              Consultation period is required.
            </div>
          </div>
        </div>
        
        <!-- Modal footer -->
        <div class="flex items-center justify-around p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
          <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save</button>
          <button (click)="close()" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Cancel</button>
        </div>
      
     
      </form>
      
    </div>
  </div>
</div>


