<section class="bg-gray-100">
    <app-navbar></app-navbar>

    <!-- Section with Background Image and Full Viewport Height/Width -->
    <section class="relative bg-cover bg-center h-screen w-full text-white" style="background-image: url('assets/Images/landing-bg.jpeg');">
        
        <!-- Overlay to darken the background -->
        <div class="absolute inset-0 bg-black bg-opacity-50"></div>

        <div data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1500" class="relative z-10 py-10 lg:py-48 text-center ">
            <h1 class="text-lg lg:text-6xl md:text-3xl font-semibold mb-4 text-white">Welcome To Deccore</h1>
            <p class="text-4xl mb-6 text-white">We provide the best orthopedic services in the region.</p>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-5 px-5 rounded">
              Book an Appointment
            </button> 

            <div class="loader py-20">
              <div class="truckWrapper">
                <div class="truckBody">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 198 93"
                    class="trucksvg"
                  >
                    <path
                      stroke-width="3"
                      stroke="#282828"
                      fill="#F83D3D"
                      d="M135 22.5H177.264C178.295 22.5 179.22 23.133 179.594 24.0939L192.33 56.8443C192.442 57.1332 192.5 57.4404 192.5 57.7504V89C192.5 90.3807 191.381 91.5 190 91.5H135C133.619 91.5 132.5 90.3807 132.5 89V25C132.5 23.6193 133.619 22.5 135 22.5Z"
                    ></path>
                    <path
                      stroke-width="3"
                      stroke="#282828"
                      fill="#7D7C7C"
                      d="M146 33.5H181.741C182.779 33.5 183.709 34.1415 184.078 35.112L190.538 52.112C191.16 53.748 189.951 55.5 188.201 55.5H146C144.619 55.5 143.5 54.3807 143.5 53V36C143.5 34.6193 144.619 33.5 146 33.5Z"
                    ></path>
                    <path
                      stroke-width="2"
                      stroke="#282828"
                      fill="#282828"
                      d="M150 65C150 65.39 149.763 65.8656 149.127 66.2893C148.499 66.7083 147.573 67 146.5 67C145.427 67 144.501 66.7083 143.873 66.2893C143.237 65.8656 143 65.39 143 65C143 64.61 143.237 64.1344 143.873 63.7107C144.501 63.2917 145.427 63 146.5 63C147.573 63 148.499 63.2917 149.127 63.7107C149.763 64.1344 150 64.61 150 65Z"
                    ></path>
                    <rect
                      stroke-width="2"
                      stroke="#282828"
                      fill="#FFFCAB"
                      rx="1"
                      height="7"
                      width="5"
                      y="63"
                      x="187"
                    ></rect>
                    <rect
                      stroke-width="2"
                      stroke="#282828"
                      fill="#282828"
                      rx="1"
                      height="11"
                      width="4"
                      y="81"
                      x="193"
                    ></rect>
                    <rect
                      stroke-width="3"
                      stroke="#282828"
                      fill="#DFDFDF"
                      rx="2.5"
                      height="90"
                      width="121"
                      y="1.5"
                      x="6.5"
                    ></rect>
                    <rect
                      stroke-width="2"
                      stroke="#282828"
                      fill="#DFDFDF"
                      rx="2"
                      height="4"
                      width="6"
                      y="84"
                      x="1"
                    ></rect>
                  </svg>
                </div>
                <div class="truckTires">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 30 30"
                    class="tiresvg"
                  >
                    <circle
                      stroke-width="3"
                      stroke="#282828"
                      fill="#282828"
                      r="13.5"
                      cy="15"
                      cx="15"
                    ></circle>
                    <circle fill="#DFDFDF" r="7" cy="15" cx="15"></circle>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 30 30"
                    class="tiresvg"
                  >
                    <circle
                      stroke-width="3"
                      stroke="#282828"
                      fill="#282828"
                      r="13.5"
                      cy="15"
                      cx="15"
                    ></circle>
                    <circle fill="#DFDFDF" r="7" cy="15" cx="15"></circle>
                  </svg>
                </div>
                <div class="road"></div>
            
                <svg
                  xml:space="preserve"
                  viewBox="0 0 453.459 453.459"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xmlns="http://www.w3.org/2000/svg"
                  id="Capa_1"
                  version="1.1"
                  fill="#000000"
                  class="lampPost"
                >
                  <path
                    d="M252.882,0c-37.781,0-68.686,29.953-70.245,67.358h-6.917v8.954c-26.109,2.163-45.463,10.011-45.463,19.366h9.993
            c-1.65,5.146-2.507,10.54-2.507,16.017c0,28.956,23.558,52.514,52.514,52.514c28.956,0,52.514-23.558,52.514-52.514
            c0-5.478-0.856-10.872-2.506-16.017h9.992c0-9.354-19.352-17.204-45.463-19.366v-8.954h-6.149C200.189,38.779,223.924,16,252.882,16
            c29.952,0,54.32,24.368,54.32,54.32c0,28.774-11.078,37.009-25.105,47.437c-17.444,12.968-37.216,27.667-37.216,78.884v113.914
            h-0.797c-5.068,0-9.174,4.108-9.174,9.177c0,2.844,1.293,5.383,3.321,7.066c-3.432,27.933-26.851,95.744-8.226,115.459v11.202h45.75
            v-11.202c18.625-19.715-4.794-87.527-8.227-115.459c2.029-1.683,3.322-4.223,3.322-7.066c0-5.068-4.107-9.177-9.176-9.177h-0.795
            V196.641c0-43.174,14.942-54.283,30.762-66.043c14.793-10.997,31.559-23.461,31.559-60.277C323.202,31.545,291.656,0,252.882,0z
            M232.77,111.694c0,23.442-19.071,42.514-42.514,42.514c-23.442,0-42.514-19.072-42.514-42.514c0-5.531,1.078-10.957,3.141-16.017
            h78.747C231.693,100.736,232.77,106.162,232.77,111.694z"
                  ></path>
                </svg>
              </div>
            </div>
            
        </div>
    </section>
    <section data-aos="fade-up" data-aos-anchor-placement="center-center"  class="mt-7 h-12 text-center mb-10">
        <h4 class="text-sm md:text-2xl lg:text-4xl mb-4 font-bold">We Provide Best For You</h4>
        <p class="text-sm md:text-1xl lg:text-2xl text-gray-500">Cardiology services encompass a wide range of medical services related to diagnosis,<br>
             treatment, and management of heart conditions & diseases.</p>
    
   
    </section>
    

    <!-- Section for Image Cards -->
    <section class="py-10">
        <div class="p-4 grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-3">
    
            <!-- Card 1 -->
            <div data-aos="fade-up" data-aos-anchor-placement="center-center" data-aos-duration="1000" class="relative group">
                <div class="h-64 overflow-hidden rounded-lg">
                    <img src="/assets/Images/Heart-dep.jpeg" alt="" class="w-full h-full object-cover transition-transform duration-300 group-hover:opacity-50">
                </div>
                <div class="absolute inset-0 bg-black bg-opacity-40 opacity-0 group-hover:opacity-50 transition-opacity duration-300"></div>
                <!-- Button -->
                <button class="absolute inset-0 flex justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 text-white font-bold py-2 px-4 rounded">
                    Heart Department
                </button>
            </div>
        
            <!-- Card 2 -->
            <div data-aos="fade-up" data-aos-anchor-placement="center-center" data-aos-duration="1500" class="relative group">
                <div class="h-64 overflow-hidden rounded-lg">
                    <img src="assets/Images/Dental2-dep.jpeg" alt="" class="w-full h-full object-cover transition-transform duration-300 group-hover:opacity-50">
                </div>
                <div class="absolute inset-0 bg-black bg-opacity-40 opacity-0 group-hover:opacity-50 transition-opacity duration-300"></div>
                <!-- Button -->
                <button class="absolute inset-0 flex justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 text-white font-bold py-2 px-4 rounded">
                    Dental Department
                </button>
            </div>
        
            <!-- Card 3 -->
            <div data-aos="fade-up" data-aos-anchor-placement="center-center" data-aos-duration="2000" class="relative group">
                <div class="h-64 overflow-hidden rounded-lg">
                    <img src="assets/Images/Ortho-dep.jpeg" alt="" class="w-full h-full object-cover transition-transform duration-300 group-hover:opacity-50">
                </div>
                <div class="absolute inset-0 bg-black bg-opacity-40 opacity-0 group-hover:opacity-50 transition-opacity duration-300"></div>
                <!-- Button -->
                <button class="absolute inset-0 flex justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 text-white font-bold py-2 px-4 rounded">
                    Ortho Department
                </button>
            </div>
        
            <!-- Card 4 -->
            <div data-aos="fade-up" data-aos-anchor-placement="center-center" data-aos-duration="2500" class="relative group">
                <div class="h-64 overflow-hidden rounded-lg">
                    <img src="assets/Images/Stroke Connection® e-News.jpeg" alt="" class="w-full h-full object-cover transition-transform duration-300 group-hover:opacity-50">
                </div>
                <div class="absolute inset-0 bg-black bg-opacity-40 opacity-0 group-hover:opacity-50 transition-opacity duration-300"></div>
                <!-- Button -->
                <button class="absolute inset-0 flex justify-center items-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 text-white font-bold py-2 px-4 rounded">
                    Neurology Department
                </button>
            </div>
        
        </div>
        
    </section>
    <section  class="mt-7 h-12 text-center mb-10">
        <h4 class="text-2xl md:text-2xl lg:text-4xl mb-4 font-bold">Our Specialist Doctors</h4>
        <p class="text-sm md:text-1xl lg:text-2xl text-gray-500"></p>
    
   
    </section>

    <section class="h-auto w-auto  py-5 lg:10  mr-7">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 ml-8">
            <!-- Card 1 -->
            <div data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000" class="relative bg-white shadow-lg rounded-lg overflow-hidden">
            
                <div class="relative ">
                    <!-- Image Container -->
                    <div class="bg-white p-5 rounded-lg">
                        <img src="assets/Images/Doctor1.jpeg" alt="" class="object-cover w-full h-auto rounded-lg">
                    </div>
                     
                   
                    <!-- Heart Icon Overlay -->
                    <div data-aos="flip-left"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000" class="absolute top-6 right-6 bg-white p-1 rounded-full shadow-md">
                        <svg class="w-6 h-6 text-red-500 cursor-pointer hover:text-red-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.901 1.604-.901 1.904 0l1.87 5.679a1 1 0 00.95.69h5.97c.969 0 1.371 1.24.588 1.81l-4.823 3.706a1 1 0 00-.363 1.118l1.87 5.68c.3.902-.755 1.66-1.54 1.118l-4.823-3.706a1 1 0 00-1.177 0l-4.823 3.706c-.785.542-1.838-.216-1.539-1.118l1.87-5.68a1 1 0 00-.363-1.118L2.45 11.118C1.67 10.548 2.07 9.31 3.038 9.31h5.97a1 1 0 00.951-.69l1.87-5.679z" />
                        </svg>
                    </div>
                </div>
                <div class="ml-5">
                    <button class="rounded-md mb-2  px-2 bg-green-200 ">Cardiology Department</button>
                    <h1 class="mb-1  text-black lg:text-bold">Dr.Mohamed Faris</h1>
                    <p class="mb-1 text-lg lg:text-1xl">Cardiologist</p>
                    <button class="rounded-full px-6 py-3 ml-24 mb-3 items-center bg-blue-600 text-white">Book Now</button>

                </div>
                
                   
                   
                    
           
           

            </div>

            <!-- card-2 -->
            <div data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000" class="relative bg-white shadow-lg rounded-lg overflow-hidden">
            
                <div class="relative ">
                    <!-- Image Container -->
                    <div class="bg-white p-5 rounded-lg">
                        <img src="assets/Images/Doctor1.jpeg" alt="" class="object-cover w-full h-auto rounded-lg">
                    </div>
                     
                   
                    <!-- Heart Icon Overlay -->
                    <div class="absolute top-6 right-6 bg-white p-1 rounded-full shadow-md">
                        <svg class="w-6 h-6 text-red-500 cursor-pointer hover:text-red-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.901 1.604-.901 1.904 0l1.87 5.679a1 1 0 00.95.69h5.97c.969 0 1.371 1.24.588 1.81l-4.823 3.706a1 1 0 00-.363 1.118l1.87 5.68c.3.902-.755 1.66-1.54 1.118l-4.823-3.706a1 1 0 00-1.177 0l-4.823 3.706c-.785.542-1.838-.216-1.539-1.118l1.87-5.68a1 1 0 00-.363-1.118L2.45 11.118C1.67 10.548 2.07 9.31 3.038 9.31h5.97a1 1 0 00.951-.69l1.87-5.679z" />
                        </svg>
                    </div>
                </div>
                <div class="ml-5">
                    <button class="rounded-md mb-2  px-2 bg-green-200 ">Cardiology Department</button>
                    <h1 class="mb-1  text-black lg:text-bold">Dr.Mohamed Faris</h1>
                    <p class="mb-1 text-lg lg:text-1xl">Cardiologist</p>
                    <button class="rounded-full px-6 py-3 ml-24 mb-3 items-center bg-blue-600 text-white">Book Now</button>

                </div>
                
                   
                   
                    
           
           

            </div>

            <!-- card-3 -->
            <div data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000" class="relative bg-white shadow-lg rounded-lg overflow-hidden">
            
                <div class="relative ">
                    <!-- Image Container -->
                    <div class="bg-white p-5 rounded-lg">
                        <img src="assets/Images/Doctor1.jpeg" alt="" class="object-cover w-full h-auto rounded-lg">
                    </div>
                     
                   
                    <!-- Heart Icon Overlay -->
                    <div class="absolute top-6 right-6 bg-white p-1 rounded-full shadow-md">
                        <svg class="w-6 h-6 text-red-500 cursor-pointer hover:text-red-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.901 1.604-.901 1.904 0l1.87 5.679a1 1 0 00.95.69h5.97c.969 0 1.371 1.24.588 1.81l-4.823 3.706a1 1 0 00-.363 1.118l1.87 5.68c.3.902-.755 1.66-1.54 1.118l-4.823-3.706a1 1 0 00-1.177 0l-4.823 3.706c-.785.542-1.838-.216-1.539-1.118l1.87-5.68a1 1 0 00-.363-1.118L2.45 11.118C1.67 10.548 2.07 9.31 3.038 9.31h5.97a1 1 0 00.951-.69l1.87-5.679z" />
                        </svg>
                    </div>
                </div>
                <div class="ml-5">
                    <button class="rounded-md mb-2  px-2 bg-green-200 ">Cardiology Department</button>
                    <h1 class="mb-1  text-black lg:text-bold">Dr.Mohamed Faris</h1>
                    <p class="mb-1 text-lg lg:text-1xl">Cardiologist</p>
                    <button class="rounded-full px-6 py-3 ml-24 mb-3 items-center bg-blue-600 text-white">Book Now</button>

                </div>
                
                   
                   
                    
           
           

            </div>
            <!-- card-4 -->
            <div data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000" class="relative bg-white shadow-lg rounded-lg overflow-hidden">
            
                <div class="relative ">
                    <!-- Image Container -->
                    <div class="bg-white p-5 rounded-lg">
                        <img src="assets/Images/Doctor1.jpeg" alt="" class="object-cover w-full h-auto rounded-lg">
                    </div>
                     
                   
                    <!-- Heart Icon Overlay -->
                    <div class="absolute top-6 right-6 bg-white p-1 rounded-full shadow-md">
                        <svg class="w-6 h-6 text-red-500 cursor-pointer hover:text-red-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.901 1.604-.901 1.904 0l1.87 5.679a1 1 0 00.95.69h5.97c.969 0 1.371 1.24.588 1.81l-4.823 3.706a1 1 0 00-.363 1.118l1.87 5.68c.3.902-.755 1.66-1.54 1.118l-4.823-3.706a1 1 0 00-1.177 0l-4.823 3.706c-.785.542-1.838-.216-1.539-1.118l1.87-5.68a1 1 0 00-.363-1.118L2.45 11.118C1.67 10.548 2.07 9.31 3.038 9.31h5.97a1 1 0 00.951-.69l1.87-5.679z" />
                        </svg>
                    </div>
                </div>
                <div class="ml-5">
                    <button class="rounded-md mb-2  px-2 bg-green-200 ">Cardiology Department</button>
                    <h1 class="mb-1  text-black lg:text-bold">Dr.Mohamed Faris</h1>
                    <p class="mb-1 text-lg lg:text-1xl">Cardiologist</p>
                    <button class="rounded-full px-6 py-3 ml-24 mb-3 items-center bg-blue-600 text-white">Book Now</button>

                </div>
                
                   
                   
                    
           
           

            </div>
              
        </div>
        
    </section>
   

    
   



</section>





